.places-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.places-page__header {
    height: 60px;
}

.places-page__main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.places-page__list {
    width: 20rem;
    height: 100%;
}

.places-page__maps-ui {
    flex: 1;
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    .places-page__main {
        flex-direction: column-reverse;
    }

    .places-page__list {
        width: 100%;
        height: auto;
        max-height: 140px;
    }
}
